body {
    font-family: 'Montserrat';
}
.header {
    display: flex;
    height: 100px;
    background: rgba(94, 93, 88, 0.6);
}
.main {
    background: url("img/section-1.jpg") 100% no-repeat;
    background-size: cover;
    height: 1012px;
}
.logo {
    position: relative;
    margin-left: 200px;
    margin-top: 15px;
}

.logo h2 {
    position: absolute;
    text-align: center;
    bottom: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 40px;

}
.picture {
    margin-top: 22px;
    margin-left: 27px;
}
.ham {
    margin-top: 32px;
    margin-left: 10px;
    font-size: 32px;
}
.architect a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
}
.architect a:hover {
    color: #18CFAB;
}
.header .navi {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

}
.nav {
    margin-left: 383px;
}
.navi a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin: 21px;
}
.navi a:hover {
    color: #18CFAB;
}
ul.nav{
    display: flex;
}
.search {
    margin-right: 1px;
}
* {box-sizing: border-box;}
form {
    position: relative;
    width: 250px;
    margin: 0 auto;
    height: 100px;
}
input {
    height: 100px;
    width: 0;
    padding: 0 100px 0 15px;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
input:focus {
    width: 180px;
    z-index: 1;
    border: 5px solid dimgrey;
}
button {
    background: rgba(94, 93, 88, 0.6);
    border: none;
    height: 99px;
    width: 68px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 18px;
    color: white;
}
.main {
    display: flex;
    flex-direction: column;
}
.main-ham {
    margin-top: 370px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 35px;
}
.colortw {
    color: #18CFAB;
}
.main-creative {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    font-size: 78px;
    text-transform: uppercase;
}

.main-buy {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 0.4em;
}
.buttons {
    display: flex;
    margin-top: 150px;
    justify-content: center;
}
.main a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
a.button-expl {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #18CFAB;
    padding: 16px 35px;
    border-radius: 5px;
    border-top: 2px solid #FFFFFF;
    margin-right: 10px;
    font-size: 15px;
    text-transform: uppercase;
}
a.button-expl:hover {
    background: #484848;
}
a.button-purc {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #00CBF6;
    padding: 16px 30px;
    border-radius: 5px;
    border-top: 2px solid #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
}
a.button-purc:hover {
    background: #484848;
}
.options {
    display: flex;
    margin-top: 5px;

}
.options-blue {
    width: 482px;
    height: 377px;
    background: #1C2A33;
    text-align: center;
}
.options-green {
    width: 482px;
    height: 377px;
    background: #18CFAB;
    text-align: center;
}
.theme {
    margin-top: 110px;
}
.text-gr {
    margin-top: 45px;
    color: #18CFAB;
    text-transform: uppercase;
    font-size: 20px;
}
.text-wh {
    margin-top: 65px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 20px;
}
.title {
    margin-top: 80px;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}
.services {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabs {
    display: flex;

}
.tab {
    background-color: #F8FCFE;
    color: #18CFAB;
    cursor: pointer;
    width: 195px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.tabs{
    margin: 0;
    padding: 0;
    list-style:none;
    cursor:pointer;
}
.tab.active {
    background-color:#18CFAB ;
    color: #FFFFFF;
}
.output{
    clear:both;
}
.tabContent {
    display: none;
    width: 1200px;
    margin-top: 28px;
}
.tabContent.active {
    display: block;
}
.cont {
    display: flex;
}
.cont p {
    margin-left: 10px;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
}
.topline {
    border-top:1px;
    border-top:1px solid #18CFAB;
    width: 80px;
}
.bottomline {
    margin-left: 30px;
    border-top:1px solid #18CFAB;
    width: 80px;
}
.purchase {
    margin-top: 91px;
    background: url("img/section-2.jpg") 100% no-repeat;
    background-size: cover;
    height: 476px;
    display: flex;
    flex-direction: column;
}
.purch-ready {
    margin-top: 127px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-transform: uppercase;
}
.purch-ready a {
    text-decoration: none;
    font-weight: bold;
    color: #18CFAB;
}
.purch-smooth {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.purch-smooth a {
    text-decoration: none;
    font-weight: bold;
    color: #D8D8D8;
}
a.button-purch {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #18CFAB;
    padding: 23px 16px;
    border-radius: 5px;
    border-top: 2px solid #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
}
a.button-purch:hover {
    background: #484848;
}
.amaz-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E9EDEF;
}
#gall {
    margin-top: 69px;
    margin-bottom: 70px;
    width: 1160px;
}
#gall img {
    display: none;
}
#loadMore:hover {
    background: #484848;
}
#tabs-work {
    display: flex;
    margin-top: 69px;
}
.tab-work {
    background: #E9EDEF;
    color: #18CFAB;
    cursor: pointer;
    width: 195px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border: 1px solid #DADADA;
}
.tab-work:hover {
    background-color: #18CFAB;
    color: #FFFFFF;
}
#loadMore {
    /*margin-top: 70px;*/
    margin-bottom: 100px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #18CFAB;
    padding: 23px 16px;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.news {
    display: flex;
    width: 1180px;
    flex-wrap: wrap;
    margin-top: 68px;
}
.break-news {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brnews-one {
    display: flex;
    margin-right: 10px;
    margin-bottom: 5px;
}
.news-one {
    margin-bottom: 40px;
}
.brnews-pic {
    position: relative;
    display: flex;
}
.brnews-call {
    display: flex;
    margin-right: 12px;
    position: absolute;
    text-align: center;
    background: #203E38;
    color: #FFFFFF;
    padding: 10px 10px;
    font-size: 16px;
}
.brnews-one:hover .brnews-call{
    background: #18CFAB;
}
.news-amaz {
    color: #717171;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 17.9885px;
}
.news-one:hover .news-amaz{
    color: #18CFAB;
}
.news-admin {
    color: #717171;
    margin-left: 20px;
    font-size: 17.9885px;
}
.people-say {
    margin-top: 91px;
    background: url("img/section-3.jpg") 100% no-repeat;
    background-size: cover;
    height: 853px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.people-title {
    margin-top: 80px;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}
.slidesshow-container {
    max-width: 1000px;
    margin-top: 100px;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    padding: 10px 400px;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.text{
    color: #BBBBBB;
    font-size: 16px;
    margin-top: 36px;
    margin-bottom: 36px;
}
.dot{
    cursor: pointer;
    margin-left: 20px;
    transition: background-color 0.6s ease;
}
.staff-photo {
    border-radius: 50%;
    border: 18px solid rgba(13, 194, 168, 0.2);
}
.icons img {
    border-radius: 50%;
    border: 10px solid rgba(13, 194, 168, 0.2);
}
.icons img:hover {
    transform: translateY(-20px);
}
.fade{
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
}
@-webkit-keyframes fade {
    from{opacity:.4}
    to{opacity: 1}
}
@keyframes fade {
    from{opacity:.4}
    to{opacity: 1}
}
.mason-images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.cell c3, c6 {
    width: 370px;
    display: flex;
}
.container-one {
    margin-top: 80px;
    height: 1000px;
    width: 1200px;
    display: flex;
    padding: 3px;
    flex-direction: column;
    flex-wrap: wrap;
}
.cell {
    width: 32.8%;
}
.cell:nth-child(3n+1) { order: 1; }
.cell:nth-child(3n+2) { order: 2; }
.cell:nth-child(3n)   { order: 3; }

.container-one .cell {
    width: 32.8%;
    margin: 0 0 10px;
    padding: 10px;
    background: #ffffff;
    overflow: hidden;
}
.footer {
    margin-top: 77px;
    height: 121px;
    background: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer a {
    text-decoration: none;
    font-size: 14px;
    color: #AEAEAE;

}